NEXT_PUBLIC_OPS_API_URL=http://localhost:8080
AUTH_PORTAL_URL=http://localhost:3001
AUTH_JWT_SECRET=
OWNER_DASHBOARD_URL=http://localhost:3026
MANAGER_DASHBOARD_URL=http://localhost:3019
PAYROLL_DASHBOARD_URL=http://localhost:3012
